{% extends 'base.html.twig' %}

{% block title %}Uebersicht{% endblock %}


{% block body %}

<ul class="collapsible">


    {% for sectionKey, section in sections %}
    <li>
        <div class="collapsible-header">
                {% if section.Name is defined %}{{ section.Name }}{% endif %}
                {% if section.Description is defined %}<small> {{ section.Description }}</small>{% endif %}
        </div>


        <div class="collapsible-body"><span>
{% for item in items[sectionKey] %}
            <section class="yaadaApp z-depth-2">
                <a href="{{ item.link }}"{% if item.newTab %} target="_blank"{% endif %}>
                    <div class="item">
                        <div class="appImage"><img src="{{ asset("build/images/noImage.png") }}"></div>
                        <div class="details">
                            <div class="title">{{ item.name }}</div>
                            <div class="description">{{ item.description }}</div>
                        </div>
                        <div class="buttons">
                            <a class="btn-floating btn-small waves-light blue-grey-text" href="/edit/{{ item.id }}">
                                <i class="tiny material-icons">
                                    edit
                                </i>
                            </a>

                        </div>
                    </div>
                </a>
            </section>

        {% endfor %}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>

        {% endblock %}